/*Conferences page's styling begins*/
body{
    background-color:#D8D9DA;
    font-family:"Trirong", serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}.menubar {
    background-color: #272829;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position:relative;
    z-index:2;
}
.logo {
    color: #F0F0F0;
    font-size: 24px;
    margin-right: 20px;
}
.menubar ul {
    list-style: none;
    display: flex;
}
.menubar ul li {
    padding: 10px 20px;
    position:relative;
}
.menubar ul li a {
    color: #F0F0F0;
    text-decoration: none;
    font-size: 18px;
}
.menubar ul li.active a {
    font-weight: bold;
    text-decoration: underline; 
}
.dropdown-menu{
    display:none;
}
.menubar ul li:hover .dropdown-menu{
    display:block;
    position:absolute;
    left:0;
    top:100%;
    background-color: #272829;
}
.dropdown-menu ul{
    display:block;
    margin:10px;
}
.dropdown-menu ul li{
    width:150px;
    padding:10px;
}
.menubar ul li.active .dropdown-menu ul li a.inactive {
    color:#F0F0F0;
    text-decoration: none;
    font-weight: normal;
}
/*Hero section's styling begins*/
.hero1{
    position:relative;
    z-index:1;
    width: 100%;
    height: 100vh;
}
.hero-image1 {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.hero-image1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); 
}
.hero-content1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:#F0F0F0;
}
.hero-content1 h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}
.hero-content1 p {
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 50px;
}
button{
    display:inline-block;
    background-color:#272829;
    border:none;
    padding:8px 15px;
    width:200px;
    color:#F5F5F5;
    text-align:center;
}
/*Introduction's styling begins*/
.introduction {
    padding: 80px 0;
    background-color: #F0F0F0;
    text-align: center;
}
.intro-content {
    max-width: 800px;
    margin: 0 auto;
}
.fancy-text {
    text-align: center;
    font-size: 36px;
    color: #4d4e4f;
    font-family: "Your Fancy Font", sans-serif;
}
@keyframes fancyTextAnimation {
    0% {
        transform: scale(1); 
        opacity: 0;
    }
    50% {
        transform: scale(1.1); /* Scale up at 50% */
        opacity: 1; /* Fade in at 50% */
    }
    100% {
        transform: scale(1); /* Back to normal scale at 100% */
        opacity: 0; /* Fade out at 100% */
    }
}
.fancy-text h2 {
    animation: fancyTextAnimation 8s ease-in-out infinite;
}
.H1{
    width:150px;
    height:4px;
    background:#331D2C;
    margin:10px auto;
    border-radius:5px;
}
.intro-content p {
    font-size: 20px;
    font-style:italic;
    color:#272829;
    line-height: 1.6;
}
/*Venues section's styling begins*/
.conferences-venues {
    padding: 80px 0;
    text-align: center;
}
.section-heading {
    font-size: 40px;
    color:#4d4e4f;
    margin-bottom: 40px;
}
.H2{
    width:250px;
    height:4px;
    background:#331D2C;
    margin:10px auto;
    border-radius:5px;
}
.venue-card {
    background-color: #F0F0F0;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    max-width:100%;
}
.venue-card img {
    max-width:80%;
    border-radius: 4px;
    margin-bottom: 15px;
}
.venue-card h3 {
    font-size: 30px;
    color: #272829;
    margin-bottom: 10px;
}
.venue-card p {
    font-size: 20px;
    font-style: italic;
    color: #444;
    margin-bottom: 30px;
    line-height: 1.6;
}
button{
    display:inline-block;
    background-color:#272829;
    border:none;
    padding:8px 15px;
    width:200px;
    color:#F5F5F5;
    text-align:center;
}
/*Gallery's styling begins*/
.gallery {
    text-align: center;
    margin: 20px;
}
.gallery h2 {
    color: #4d4e4f;
    font-style: italic;
    font-size: 45px;
    margin-bottom: 30px;
}
.H3 {
    position: relative; /
}
.H3::after {
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background-color: #331D2C;
    margin: 10px auto;
    border-radius: 5px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.column {
    flex: 33.33%;
    padding: 5px;
    box-sizing: border-box;
}
.column img {
    width: 95%;
    height: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6
    );
}
.footer{
    background:#272829;
    color:#F0F0F0;
    padding:20px;
    text-align:center;
}
.footer-content{
    max-width:800px;
    margin:0 auto;
    padding:0px 10px;
}
.footer-row{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}
.footer-column{
    flex-basis:40%;
    text-align:left;
    margin:0 10px;
}
.footer h3{
    font-size:18px;
    margin-bottom:10px;
}
.footer p{
    font-size:14px;
    line-height:1.5;
}
.footer i{
    font-size:24px;
    margin-right:5px;
}
.footer a{
    color:#F0F0F0;
    text-decoration:none;
}
@media screen and (max-width: 800px) {
    .menubar {
        height: auto;
        flex-direction: row;
        padding: 20px;
    }
.logo {
        margin-right: 0;
        margin-bottom: 10px;
    }
.menubar ul {
        flex-direction: row;
        align-items: center;
    }
    .menubar ul li {
        padding: 10px 12px;
        text-align: center;
        position: relative;
        margin: 0 -8px;
    }
    .menubar ul li a {
        font-size: 11.5px;
    }  
    .dropdown-menu ul li {
        display: flex;
        align-items: center; 
        justify-content: space-between;
        width: 100%; 
        padding: 10px;
        text-align: center; 
    }
    /*Hero section's styling begins*/
    .hero-content1 h1 {
        font-size: 8vmin; 
        margin-bottom: 20px;
    }
    .hero-content1 p {
        font-size: 4vmin; 
        margin-bottom: 30px;
    }
    button {
        margin-top: 20px; 
        font-size: 12px; 
        padding: 5px 10px; 
        display:inline-block;
        width: 200px; 
    }
    /*Introduction's styling starts*/
    .intro-content {
        padding: 0 20px;
    }
    .intro-content h2 {
        font-size: 28px;
    }
    .intro-content p {
        font-size: 18px; 
    }
    /*Venues section's styling starts*/
    .conferences-venues {
        padding: 40px 0; 
    }
    .section-heading {
        font-size:7vmin;
        margin-bottom: 20px; 
    }
    .H2 {
        width: 150px; 
    }
    .venue-card {
        margin: 10px; 
    }
    .venue-card h3 {
        font-size: 20px; 
        margin-bottom: 8px; 
    }
    .venue-card p {
        font-size: 14px; 
        margin-bottom: 20px; 
    }
    /*Gallery's styling starts*/
    .gallery h2 {
        font-size: 7vmin; 
        margin-bottom: 20px; 
    }
    .H3::after {
        width: 100px; 
    }
    .row {
        margin-bottom: 10px; 
    }
    .column {
        flex: 50%; 
    }
    /*Footer area's styling starts*/
    .footer-content {
        max-width: 100%; 
        padding: 0 20px; 
    }
    .footer-row {
        flex-direction: column; 
        align-items: center; 
        margin-bottom: 10px; 
    }
    .footer-column {
        flex-basis: 100%; 
        text-align: center; 
        margin: 0; 
    }
    .footer h3 {
        font-size: 16px; 
        margin-bottom: 5px; 
    }
    .footer p {
        font-size: 12px; 
        line-height: 1.4; 
    }
    .footer i {
        font-size: 20px; 
        margin-right: 5px; 
    } 
}

/*Referencing*/

/*Pinterest. (n.d.). https://www.pinterest.com/pin/90916486216485293/. [online] Available at: https://www.pinterest.com/pin/90916486216485293/ [Accessed 9 Sep. 2023].*/
/*www.spacematrix.com. (n.d.). 6 Kinds of Office Meeting Spaces: Browserstack’s | Space Matrix. [online] Available at: https://www.spacematrix.com/content/one-office-six-kinds-meeting-spaces-browserstack-workplace-strategy-collaboration.*/
/*Pinterest. (n.d.). Pin on Learn. [online] Available at: https://www.pinterest.com/pin/778770960548039600/ [Accessed 9 Sep. 2023].*/
/*www.estates.hku.hk. (n.d.). HKU Estates Office :: Conference Room at Unit 104 Block B Cyberport 4. [online] Available at: https://www.estates.hku.hk/project-management/recently-completed-projects/conference-room-cyberport4 [Accessed 9 Sep. 2023].*/
/*Anon, (n.d.). Meetings | Conference Services. [online] Available at: https://www.yorku.ca/conference/keele/meet/meetings/ [Accessed 9 Sep. 2023].*/
/*Cooper, M. (2019). 10 Reasons Why Academic Venues Are Excellent Conference Locations. [online] IACC. Available at: https://www.iacconline.org/iacc-blog/10-reasons-why-academic-venues-are-excellent-conference-locations.*/
/*Anon, (n.d.). Leonardo project kick off. | Leonardo Project. [online] Available at: https://leonardoproject.eu/2021/03/04/leonardo-project-kick-off/ [Accessed 9 Sep. 2023].*/
/*Unsplash (n.d.). Conference Room Pictures | Download Free Images on Unsplash. [online] unsplash.com. Available at: https://unsplash.com/s/photos/conference-room [Accessed 9 Sep. 2023].*/
/*Pexels. (2023). Available at: https://www.pexels.com/search/office%20meeting%20black%20and%20white/ [Accessed 9 Sep. 2023].*/
